@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Tapestry&display=swap');
body{
    
    width: 90%;
    margin: 0 auto;
    line-height: 1.5;
    font-family: 'Tapestry', cursive;
    
}
*{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}


/* ---------------header---------------- */
.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

 
}
.header .hd-left{
    display: flex;
    justify-content: center;  
    align-items: center;

}
.hd-left .logo{
    margin-left: 20px;
}
.hd-left .wedname{
    
    margin-left: 50px;
}
.hd-left .wedname h2{
    font-size: 35px;
    color: aqua;
}
.header .hd-right{
    display: flex;
    justify-content: center;  
    align-items: center;
}
.header .hd-right a{
    color: black;
    font-weight: 500;
    
}
.hd-right .signin{
    font-weight: 400;
    text-align: center;
    margin: 20px;
    width: 120px;
    height: 25px;
    background-color: aqua;
    border-radius: 10px;
}
.hd-right .signup{
    font-weight: 400;
    text-align: center;
    margin: 20px;
    width: 120px;
    height: 25px;
    background-color: aqua;
    border-radius: 10px;
}


/* --------------menu------------------- */

.menu{
    margin-top: 5px;
    width: 100%;
    height: 40px;
    background-color: aqua;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
}
.menu ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 5px;
    line-height: 40px;
}
.menu ul li{
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    border-radius: 10px;
}
.menu ul li:hover{
    background-color:  rgba(206, 206, 206, 0.9);
}

.menu ul > li:nth-child(7) input{
    margin-right: 5px;
}
.menu ul > li:nth-child(7):hover{
    background: none;
}
.form-input{
    width: 180PX;
    border: 1px solid #eee;
    border-radius: 4px;
    height: 30px;
    padding: 0 20px;
    transition: 0.26s ease;
    font-size: 10px;
}
.form-input:focus {
    border-color: #00aef3;
    outline: none;

}
.form-field{
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.form-label{
    font-size: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    user-select: none;
    color: #999;
    pointer-events: none;
    transition: 0.26s ease;
  
}
.form-input:not(:placeholder-shown) + .form-label,
.form-input:focus + .form-label{
    top: 6px;
    padding: 0 10px;
    display: inline-block;
    color: aqua;
    border-radius: 40px; 
}

.search{
    
    position: absolute;
    left: 1px;
    background: none;
    border: none;
    border-radius: 4px;
}
.menu i{
    font-size: 10px;
}
.search i{
    background: none;
    padding: 5px;

}
.sup-menu1{
    position: absolute;
    background: none;
    width: 450px;
    height: auto;
    display: flex;
    justify-content: space-around;
    display: none;
    border-radius: 40px;
    z-index: 1000;

}
.menu > ul > li:hover .sup-menu1{
    display: block;
    top: 40px;
    left: 30px;
    display: flex;
    justify-content: center;
    background-color: rgba(10, 224, 224,0.9);
    width: 450px;
    height: auto;
    border-radius: 15px;
}
.sup-menu2{
    position: absolute;
    background: none;
    width: 450px;
    height: auto;
    display: flex;
    justify-content: space-around;
    display: none;
    border-radius: 40px;
    z-index: 1000;

}
.menu > ul > li:hover .sup-menu2{
    display: block;
    top: 40px;
    left: 150px;
    display: flex;
    justify-content: center;
    background-color: rgba(10, 224, 224,0.9);
    width: 450px;
    height: auto;
    border-radius: 15px;
}
.sup-menu3{
    position: absolute;
    background: none;
    width: 450px;
    height: auto;
    display: flex;
    justify-content: space-around;
    display: none;
    border-radius: 40px;
    z-index: 1000;

}

.menu > ul > li:hover .sup-menu3{
    display: block;
    top: 40px;
    left: 250px;
    display: flex;
    justify-content: center;
    background-color: rgba(10, 224, 224,0.9);
    width: 450px;
    height: auto;
    border-radius: 15px;
}
.fa-solid{
    color: #00aef3;
}
/* ---------------content------------------- */





.content{
    width: 100%;
    height: 700px;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(235, 235, 235);
}
.content-left-slide{
    width: 30%;
    height: 650px;

}
.content-left-slide .showimage{
    margin-top: 10px;
    width: 100%;
    height: auto;
    margin-left: 10px;
}
.content-left-slide .showimage img{
    margin: 10px 20px;
    width: 80%;
    height: auto;
    border-radius: 10px;

}
.content-left-slide p{
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding-left: 50px;

}
.content-left-slide p img{
    margin: 15px;
    width: 70px; 
    height: auto;
    border:none;

    
}
.content-left-slide p img:hover{
    border: 1px solid rgb(255, 255, 255);
    transition: all 0.6 ease;
    transform: rotateY(5%);
}

.content-right-paragrap{
    width: 40%;
    height: 650px;
}
.content-right-paragrap .text{
    margin-top: 5px;
    background-color: #fff;

    border-radius: 10px;
    padding-left: 10px;
}

.content-right-paragrap .text p{
    line-height: 1.8;
    font-family: 'Roboto', sans-serif ;
    font-size: 18px;
    font-stretch: expanded;
}
.content-right-paragrap .text span{
    color: red;
    padding-right: 20px;
    border-right: #999;
}
.content .sitebar{
    width: 30%;
    height: auto;
}
.sitebar h2{
    margin: 20px 0px 0px 80px;
    font-size: 25px;
}
.sitebar hr{
    color: #bcbcbc;
}
.sitebar > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sitebar img{
    margin: 20px 0px 0px 50px;
    width: 20%;
    height: auto;
    border-radius: 4px;
    margin-right: 10px;
}
.sitebar p{
    width: 80%;
}

.sitebar span{
    font-size: 20px;
    font-weight: 550;
}
.sitebar span:hover{
    color: red;
}
.kt{
    width: 100%;
    height: 20px;
    background-color: #FFF;
}
.motachitiet{
    width: 100%;
    height: 1750px;
    background-color: rgb(235, 235, 235);
    line-height: 2;
}

.motachitiet span{
    width: 100%;
    font-size: 24px;
    margin-bottom: 30px;
    margin-left: 30px;
    
}
.motachitiet img{
    width: 200px;
    height: auto;
    margin-left: 500px;
}
.motachitiet p{
    font-size: 14px;
    font-family: sans-serif;
    background-color: #fff;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
}



.opacity {
    margin-top: 20px;
    padding-top: 5px;
    padding-left: 25px;
    color: white;
    width: 100%;
    height: 30px;
    background-color: aqua;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.opacity .link img{
    margin-right: 20px;
    width: 20px;
    height: auto;
}




.footer{
    width: 100%;
    height: 220px;
    background-color: #bcbcbc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    line-height: 2;
    margin-bottom: 50px;
  
}
.footer h2{
    padding-bottom: 20px;
}
.footer > .demo >p{
    width: 150px;
}
.footer > .demo:nth-child(1){
    margin-top: -100px;
    position: relative;
}
.footer > .demo >p{
    position: absolute;
    top: 90px;
    left: 10px;
}
.footer > div:nth-child(2){
  
    margin-left:120px;
  
}
.footer > div:nth-child(4){
  
    margin-right: 50px;
  
}
.footer div ul h2{
    color: white;
    font-size: 30px;
}
.footer i{
    margin-right: 5px;
}



